.singlePage .profile h6 {
  max-width: 200px;
}

.singlePage .link {
  text-decoration: none !important;
  cursor: pointer;
}

/* .singlePage svg{
    margin-bottom: 2px;
    margin-right: 5px;

} */

.fs-normal{
  font-size: large;
}

.bg-text{
  background-color: #c1d7fe;
}

.user{
  width: fit-content !important;
  height: fit-content !important;
}

.fit-content {
  width: fit-content !important;
}
